.c {
  height: 90vh;
  position: relative;
}
.c-bg {
  width: 20px;
  height: 100%;
  background-color: #81c1e1;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  cursor: pointer;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.c-desc {
  font-weight: 200;
}
form {
  margin-top: 20px;
  justify-content: column;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}
.btn-grad {
  width: 100px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  justify-content:center; 
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

textarea {
  max-width: 500px;
  min-width: 50px;
  max-height: 200px;
  min-height: 100px;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  .btn-grad {
    margin-top: 10px;
    
  }

}
